.title {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #CEE5F2;
}

#JS-Practice {
    background-color: #57467B;
}

#flower-logo {
    width: 30px;
}

.teaser-odd {
    background-color: #F46036;
    color: #0B132B;
    font-family: 'Roboto Mono', monospace;
}

.teaser-even {
    background-color: #0B132B;
    color: #F46036;
    font-family: 'Roboto Mono', monospace;
}

.reveal {
    border-color: #0B132B;
    border-radius: 5px;
    background-color: #57467B;
    color: #CEE5F2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reveal:hover {
    background-color: #CEE5F2;
    color: #57467B;
}

p {
    font-size: 12px;
}

#A1-answer, #A2-answer, #A3-answer, #A4-answer, #A5-answer {
    background-color: #CEE5F2;
}

.answersIMG {
    width: 100%;
}

/* css instructions for question 5 */
.teaser-odd-new {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    color: #0B132B;
    font-family: 'Roboto Mono', monospace;
}

.teaser-even-new {
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    color: rgb(49, 20, 12);
    font-family: 'Roboto Mono', monospace;
}






@media only screen and (min-width: 1000px) {
    .answersIMG {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}